@page
@model bodyshedule.Areas.Identity.Pages.Account.ForgotPasswordModel
@{
}

@{
    ViewData["Title"] = "Забыли Ваш пароль?";
}

<div class="row">
    <div class="col-lg-4 mx-auto rounded border border-5 p-3">
        <h1>@ViewData["Title"]</h1>
        <hr />
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="email" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email" class="form-label text-secondary"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.SecretWord" class="form-control" autocomplete="secret-word" aria-required="true" placeholder="Введите Ваше секретное слово" />
                <label asp-for="Input.SecretWord" class="form-label text-secondary"></label>
                <span asp-validation-for="Input.SecretWord" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Сбросить</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
