@page
@model bodyshedule.Areas.Identity.Pages.Account.ResetPasswordConfirmationModel
@{
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="text-center">
                <h1>Поздравляем! Вы успешно изменили пароль</h1>
                <h4>Для входа в систему нажмите на <a id="forgot-password" asp-page="./Login">вход</a></h4>
            </div>
        </div>
    </div>
</div>