html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.ui-autocomplete {
    /* Style the autocomplete container */
    max-width: 395px; /* Adjust width as needed */
    border: 1px solid #ccc;
    padding: 5px;
}

.ui-menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.ui-menu-item {
    padding: 5px;
    cursor: pointer;
    background-color: #fff;
}

.ui-menu-item:hover {
    background-color: #f0f0f0;
}

.ui-helper-hidden-accessible{
    display: none;
}
